[Desktop Entry]
Encoding=UTF-8
Name=Bumblebee Indicator for Plasma5
Comment=Plasma 5 plasmoid to show when the nvidia card is on
Icon=ui/logo.svg
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=bxabi
X-KDE-PluginInfo-Email=csabi@bxabi.com
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=com.bxabi.bumblebee-indicator
X-KDE-PluginInfo-Version=0.6
X-KDE-PluginInfo-Website=https://bxabi.com/dokuwiki/bumblebee-indicator
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-NotificationArea=true
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=System Information
